:root {
    --color-g-blue: #227CE4;
    --color-g-lightblue: #9FCCFF;
    --color-g-light: #BCC9DA;
    --color-g-gray: #80828D;
    --color-g-dark: #16212E;
    --color-g-dopdark: #23303F;
    --color-g-darkblue: #1A2633;
    --color-g-white: #ffffff;
    --color-g-red: #BD4F4F;
}

$color-g-blue: var(--color-g-blue, #227CE4);
$color-g-lightblue: var(--color-g-lightblue, #9FCCFF);
$color-g-light: var(--color-g-light, #BCC9DA);
$color-g-gray: var(--color-g-gray, #80828D);
$color-g-dark: var(--color-g-dark, #16212E);
$color-g-dopdark: var(--color-g-dopdark, #23303F);
$color-g-darkblue: var(--color-g-darkblue, #1A2633);
$color-g-white: var(--color-g-white, #ffffff);
$color-g-red: var(--color-g-red, #BD4F4F);